*{

padding:0px;
margin:0px;}

header{
	color: white;
	background-color: #0e249e;
	padding: 1em;
}

#encabezado
{
	margin-top : 1em;
	font-family:verdana;
	background-color: gray;
}
ul{
	list-style: none;
	overflow: hidden;
	background-color:gray;

}


.navegacion li a{
	color: #ffffff;
	text-decoration: none;
	padding: 15px 20px;
	display:block;
	min-width: 150px;
}

.navegacion > li
{
	float: left;
}

.navegacion li ul{
	display: none;
	position: absolute;
	min-width: 150px;
	color:black; 
}

.navegacion li:hover> ul{
	display: block;
}

.navegacion li:hover> a{background-color:black; }